@-moz-document domain("google.com") {
.RNNXgb {
    border-radius: 4px;
}
.I6TXqe {
    border-radius: 4px;
}
.minidiv .RNNXgb {
    border-radius: 4px;
}
.kp-blk {
    border-radius: 4px;
}
.MXl0lf {
    border-radius: 4px;
}
.aajZCb {
    border-radius: 0 0 4px 4px;
}
.H73aad {
    border-radius: 4px;
}
.h312td {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.F9PbJd {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.zthhpf {
    border-radius: 4px;
}
.Ix6LGe {
    border-radius: 4px;
}
.TIGsTb {
    border-radius: 4px;
}
.vk_c, #rhs .fIcnad {
    border-radius: 4px;
}
.cv2VAd {
    border-radius: 4px;
}
.MGqjK {
    border-radius: 4px;
}
.orkam {
    border-radius: 2px;
}
}
